
/dist
/obj
*.opensdf
*.sdf
/ext/ffmpeg/x64/README.txt
/ext/ffmpeg/x64/presets
/ext/ffmpeg/x64/licenses
/ext/ffmpeg/x64/lib
/ext/ffmpeg/x64/include
/ext/ffmpeg/x64/doc
/ext/ffmpeg/x64/bin
/ext/ffmpeg/Win32/README.txt
/ext/ffmpeg/Win32/presets
/ext/ffmpeg/Win32/licenses
/ext/ffmpeg/Win32/lib
/ext/ffmpeg/Win32/include
/ext/ffmpeg/Win32/doc
/ext/ffmpeg/Win32/bin
/ipch
*.suo
/doc/html
/scff-app/obj
/package
/scff-app/Service References
/tools/test.zip
/tools/tmp