/bin
/obj
*/obj
/ipch
/doc/html
/tools/tmp
*.opensdf
*.suo
*.user
*.sdf
*.pyc
*.bak
/ext/ffmpeg/x64/*
!/ext/ffmpeg/x64/dummy.txt
/ext/ffmpeg/Win32/*
!/ext/ffmpeg/Win32/dummy.txt
*.Cache
/doxysearch.db
/doxygen_warnings.log
*.pfx
*/publish
*.snk
/TestResults
/ext/XSplit/lib
/ext/XSplit/*.dll
